<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>여기로 연락하시면 됩니다.</h1>
        <br>
        <P>010-0000-0000</p>
        <p>example@exapmle.com</p>
      </div>

    </div>
  </body>
</html>